.customer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 400px;
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

@media (max-width: 600px) {
    .customer-form {
        min-width: unset;
        width: 100%;
    }
}